.carousel-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* header */
.carousel-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.carousel-header h2 {
  font-weight: 800;
}

/* arrows */
.controls {
  display: flex;
  gap: 10px;
  font-size: x-large;
}

.controls button {
  border: none;
  background: #eaeaea;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* container */
.carousel-container {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;

  scrollbar-width: none;
}

.carousel-container::-webkit-scrollbar {
  display: none;
}

/* 🔥 IMPORTANT */
.carousel-container > * {
  flex: 0 0 auto;
}

/* snap effect */
.carousel-container {
  scroll-snap-type: x mandatory;
}

.carousel-container > * {
  scroll-snap-align: start;
}
@media (max-width: 500px) {
  .carousel-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
