<!-- Overlay -->
<div class="overlay" *ngIf="isDrawerOpen" (click)="close.emit()">
  <!-- Drawer -->
  <div
    class="drawer"
    [class.open]="isDrawerOpen"
    [class.left]="direction === 'left'"
    [class.right]="direction === 'right'"
    (click)="$event.stopPropagation()"
  >
    <button class="close-btn" (click)="close.emit()">✖</button>

    <ng-container *ngIf="type === 'signin'">
      <h2>Sign In</h2>
    </ng-container>

    <ng-container *ngIf="type === 'location'">
     <app-search-location></app-search-location>
    </ng-container>
  </div>
</div>
