<!-- Overlay -->
<div class="overlay" *ngIf="isDrawerOpen" (click)="close.emit()">
  <!-- Drawer -->
  <div
    class="drawer"
    [class.open]="isDrawerOpen"
    [class.left]="direction === 'left'"
    [class.right]="direction === 'right'"
    (click)="$event.stopPropagation()"
  >
    <button class="close-btn" (click)="close.emit()">&times;</button>

    <ng-container *ngIf="type === 'signin'">
      <app-sign-in></app-sign-in>
    </ng-container>

    <ng-container *ngIf="type === 'location'">
      <app-search-location></app-search-location>
    </ng-container>
  </div>
</div>
